* {
	margin: 0;

}
#article {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin-left: 15%;
	margin-top: 12%;
	font-size: 400%;
}
.hr {
	width: 50vw;
	height: 0.3vw;
	background-color: black;

}
@media screen and (max-width: 640px) {
    #article {
        font-size: 2.3rem;
        margin-left: 1%;
    }
}